---
layout: default
title: Beyond Transparency
---

{% include chaptermenu.html %}
<div class="page">
<header>
  <div class="header">
    <div class="cloud drift offset0"></div>
    <div class="cloud drift offset1"></div>
    <div class="cloud drift offset2"></div>
    
    <div class="content">
      <div class="menu-bar">
        <div class="menu-btn pull-right menu-icon"><span>目录</span></div>
      </div>

      <div class="byline clear">一本由 Brett Goldstein 与 Lauren Dyson 编辑的书</div>

      <div class="title">
        <img src="{{ site.baseurl}}/images/beyondtransparency-large.png" />
      </div>

      <div class="about">
        <div class="col-md-9 col-sm-9 col-xs-12">
          <h2>开放数据与市民创新的未来</h2>
          <p>
开放数据的发展已经在公共领域展现了其在创新催化，效率提升，经济加速的能量。承接着著名的中央级开放数据计划例如 Data.gov 以及 白宫的开放政府计划，各地方政府逐步开始任命首席数据官，制定开放数据政策，以及建立开放数据门户来尝试开放数据计划。</p>
<p>虽然还在发展初期，但我们已经看到了开放数据改变我们城市未来的巨大潜能。通过提供清洁的公园，与罪案斗争，发给新公司商业执照，地方政府是最能直接影响人民群众生活质量的。也正因为此，在地方一级才有巨大的机遇来利用开放数据重新定义与建立人民与政府的关系。</p>
<p><em>Beyond Transparency</em> 是一本对开放数据各领域全方位的普查报告，涵盖了前线工作者分享的成功利用开放数据的案例。本书寻求超越为了透明而透明的传统诉求，而号召开始行动与解决实际的问题。通过书中分享的案例，我们可以了解如何建立一个开放数据的生态环境，使开放数据成为有效决策和高效社会服务，超能经济发展，公民权利保障以及公民社会发展的基石。</p>
          </p>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-12 book-links">
          <a href="{{ site.baseurl}}/chapters/preface/"><div class="btn btn-primary btn-read">现在就开始阅读！</div></a>
          <ul class="buy-links">
            <li class="icon-buy"><a href="http://www.amazon.com/Beyond-Transparency-Future-Civic-Innovation/dp/0615889085/" target="_blank"><img src="{{ site.baseurl}}/images/amazon_book_icon.png" />在美国亚马逊购买</a></li>
            <li class="icon-pdf"><a href="{{ site.baseurl}}/pdf/BeyondTransparency.pdf" target="_blank"><img src="{{ site.baseurl}}/images/pdf_icon.png" />获取 PDF 电子版</a></li>
            <li class="icon-donate"><a href="http://codeforamerica.org/donate" target="_blank"><img src="{{ site.baseurl}}/images/donate_icon.png" />向CfA捐款</a></li>
          </ul>
        </div>
        <div class="clear"></div>
      </div>
      <div class="clear"></div>      
    </div>
    <div class="city-graph" >
      <img src="{{ site.baseurl}}/images/city.png" />
    </div>

  </div>
  
</header>

<section class="contributors">
  <div class="contributors">
    <div class="content">
      <div class="section-heading">
        <img src="{{ site.baseurl}}/images/contributors.png" />
        <h2>部分贡献者</h2>
      </div>
      <ul class="authors">

        {% for page in site.pages %}
          {% if page.layout == "chapter" %}
            {% if page.featured == true %}

            <li>
               <div>
                 <img class="img-circle" src="{{ site.baseurl}}{{ page.author[0].photo_url }}" />
                 <div class="name">{{ page.author[0].name }}</div>
                 <div class="job-title">{{ page.author[0].job }}</div>
                 <div class="employer">{{ page.author[0].employer }}</div>
                 <a href="{{ site.baseurl}}{{page.url}}" >
                   <div class="chapter-title">{{ page.title }}</div>
                 </a>
               </div>
             </li>

           {% endif %}
        {% endif %}
      {% endfor %}
             
      </ul>
    </div>
    <div class="clear"></div>
  </div>
</section>

<section class="critics">
  <div class="critics">
    <div class="content">
      <div class="section-heading">
        <img src="{{ site.baseurl}}/images/quote.png" />
        <h2>书评</h2>    
      </div>
      <div class="quote col-md-6">
        <p>“<em>Beyond Transparency</em> combines the inspirational glow and political grit of <em>Profiles in Courag</em>e with the clarity of an engineer’s calm explanation of how something technical actually works…. This compilation presents us with a great deal to admire, ample provocation, and wise guidance from a group of remarkable individuals.”</p>
        <div class="attribution">&mdash; Susan Crawford, author of Captive Audience</div>
      </div>
      <div class="quote col-md-6">
        <p>“Just as he did during his time in my administration, Goldstein has brought together industry leaders to discuss issues of relevance in the open data movement and the practical implications of implementing these policies… This book will help continue the work to make open government a reality across the country.”</p>
        <div class="attribution">&mdash; Mayor Rahm Emanuel, City of Chicago</div>
      </div>
<br><br>
     <div class="quote col-md-6">
        <p><em>Beyond Transparency</em> is an invaluable overview of how open data enables the free flow of information. This collection of stories from the field illustrates how technology and collaboration can support transparency and help communities transform ideas into actions.”</p>
        <div class="attribution">&mdash; Alberto Ibargüen, president and CEO of the John S. and James L. Knight Foundation</div>
      </div>
<br><br>
     <div class="quote col-md-6">
            <p>“A must-read for anyone who is passionate about what open data can do to transform city living.”</p>
            <div class="attribution">&mdash; Boris Johnson, Mayor of London</div>
          </div>
<br><br>
     <div class="quote col-md-6">
       <p>“<em>Beyond Transparency</em> surveys the latest open data initiatives and outlines a compelling vision of how data and technology can reshape urban governance in America. Compiled by the best experts in the country, this book provides a compelling roadmap to take government to the next level.”</p>
       <div class="attribution">&mdash; Steven Goldsmith, Harvard Kennedy School</div>
     </div>
<br><br>
    </div>
    <div class="clear"></div>
  </div>
</section>
<section class="about-book">
  <div class="about-book">
    <div class="content">
      <div class="section-heading">
        <img src="{{ site.baseurl}}/images/about_book_icon.png" />
        <h2>关于这本书</h2>    
      </div>
      <div class="quote">
        <p>这是一本由实践者为实践者而编写的书籍。实践者们来自政府内外：既有政府的首席信息官，也有社区领导者更有草根创业者。 <em>Beyond Transparency</em> 旨在记录与传播过往四年里社区在开放数据发展中总结的经验与教训。而我们也知道，社区还在不停的学习。也正因为此，除了提供在<a href="http://www.amazon.com/Beyond-Transparency-Future-Civic-Innovation/dp/0615889085/" target="_blank">亚马逊上售卖的印刷版</a>，我们也将电子版图书以知识共享协议开放给公众阅读与进一步编辑。本书的全文都将开源在 GitHub ，这意味着任何人都可以提交一个新的更新，作出一处修订，乃至与我们一同准备下一版的<em>Beyond Transparency</em> 。现在就来<a href="https://github.com/codeforamerica/beyondtransparency" target="_blank">提交你的Pull Request 吧。</a> </p>
     <p><a href="http://codeforeamerica.org" target="_blank">Code for America</a> 是美国一个的非营利机构，其旨在建立一个21世纪的由人民创建，为人民服务的政府。在过去4年里，CfA已经与多个城市合作以开放数据为基础支持市民创新。你可以通过 <a href="https://github.com/codeforamerica/beyondtransparency" target="_blank"> GitHub </a> 来向本书作出贡献。你也可以<a href="http://brigade.codeforamerica.org">加入我们的志愿团体</a>，<a href="https://secure.codeforamerica.org/page/contribute/default">向我们捐助</a>，或者<a href="http://www.codeforamerica.org/cities/" target="_blank">让你的城市加入我们的计划</a>来支持我们。</p>

    
     <div class="email">
       <h3>想了解更多关于开放数据与 Code for America的内容?</h3>
       <form action="http://codeforamerica.us2.list-manage2.com/subscribe/post?u=d9acf2a4c694efbd76a48936f&amp;id=3ac3aef1a5" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" role="form" novalidate>
         <div class="form-group">
	
	       <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
	       <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary">
         </div>
       </form>
     </div>

     
      </div>
    </div>
    <div class="clear"></div>
  </div>
</section>

<div class="footer">
  <div class="content">
    <p>
      Beyond Transparency &mdash;  2013 <a href="http://codeforeamerica.org" target="_blank">Code for America</a>
    </p>
  </div>
</div>
</div>
